<!-- MAIN HTML -->
<div ng-controller="MeanController" id="overall_container">

	<!-- Top Nav Bar -->
	<div id='top_nav_container'>
		<div id='top_half'>
			<ul>
				<li id='main_logo'><img src="images/ign_logo_red.png" width='110' height='40'></li>
				<li><a href="#">Doom Review</a>
					<a href="#">The hellish shooter delivers</a>
				</li>
				<li><img src=""></li>
				<li><a href="#">Game of Thrones:<br>Kristian Nairn Discusses Hodor's...</a></li>
				<li><a href="#">Daily Deals:<br>Overwatch, Xbox One with Amazon...</a></li>
				<li><a href="#">Games with Gold<br>Free June Games Revealed</a></li>
				<li><a href="#">Game of Thrones:<br>"The Door" Review</a></li>
			</ul>
		</div>

		<div id='bottom_half'>
			<ul>
				<li id='browse'>Browse</li>
				<ul id='section_nav'>
					<li> <input type='text'> </li>
					<li>Shows</li>
					<li>Trailers</li>
					<li>Reviews</li>
					<li>PS4</li>
					<li>Xbox One</li>
					<li>PC</li>
					<li>Wii U</li>
					<li>Movies</li>
					<li>Tv</li>
					<li>Sign in</li>
				</ul>
			</ul>
		</div>
	</div> <!-- end top_nav_container -->












</div>
